  @import '@assets/globals.css';

  .tooltip .tooltiptext {
    visibility: hidden;
    background-color: var(--background-primary-color);
    color: black;
    top: 2.5rem;
    left: 12.25rem;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    transition-duration: 2s;
    transition-property: visibility;
    z-index: 1;
  }

  .name {
    background-color: var(--background-secondary-color);
  }

  .function {
    color: var(--text-primary-color);
  }
  
  .tooltip .tooltiptext::before {
    content: "";
    position: absolute;
    top: 30%;
    left: -45px;
    border-width: 25px;
    border-style: solid;
    border-color: transparent var(--background-primary-color) transparent transparent;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }