@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-primary-color: #F9F9F9;
  --background-secondary-color: #F9F9F9;
  --text-primary-color: #5AA9E6;
  --text-secondary-color: #7FC8F8;
  --third-color: #FF6392;
}

.background-secondary-color {
  background-color: var(--background-secondary-color);
}

body {
  color: black;
  background: var(--background-primary-color);
  background: repeating-linear-gradient(to left top, var(--background-primary-color), var(--background-secondary-color));
}